@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Cabin", sans-serif;
}
html{
    overflow-y: hidden;
    /* overflow: hidden; */
}
/* For navbar only */

.container{
    display: flex;
    width: 100%;
    height: 70px;
    background-color: black;
    align-items: center;
    justify-content: space-evenly;
}
.opt{
    display: flex;
}
ul{
    width: 70%;
    justify-content: space-evenly;
    flex-wrap:wrap;
    background-color: #BA2D0B;
    padding: 20px 2px;
    border-radius: 10px;
}
li {
    list-style: none;
}
li a{
    text-decoration: none;
    color: #F5F1ED;
    font-size: 19px;
}
button {
    background-color: #3066BE;
    padding: 18px;
    border-radius: 5px;
    border: 0;
    /* margin-left: 300px; */
    justify-content: flex-end;
}
.logotext{
    position: relative;
    right: 280px;
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.pic{
    position: relative;
    right: 120px;
}
#log{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

/* for content only */

.img1{
    width: 100%;
}

.reg-content{
    position: relative;
}

.freg{
    left: 310px;
    top: 110px;
    position: absolute;
    background-color: black;
    width: 800px;
    height: 500px;
    border-radius: 35px;
}
#fimg{
    left: 0px;
    top: 0px;
    position: absolute;
    width: 400px;
    height: 500px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
}
.reg{
    left: 455px;
    top: 25px;
    position: absolute;
    width: 600px;
    height: 500px;
}
input[type="text"],input[type="email"],input[type="password"],input[type="tel"],select[type="text"]{
    background-color : black; 
    width: 300px;
    height: 30px;
    border: none;
    border-bottom: 2px solid rgb(60, 60, 221);
    color: white;
  }

label{
    color: white;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.but{
    position: absolute;
    left: 100px;
    top: 367px;
    position: absolute;
    background-color: rgb(54, 230, 54);
    border-radius: 40px;
    width: 110px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
}

.fa{
    text-decoration: none;
    font-weight: bold;
    color: white;
}